/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@media screen and (max-width: 450px) {
    .navbar nav img {
        width: 120px;
    }
}

@media screen and (max-width: 550px) {
    .mobile-list {
        display: flex;
        flex-direction: column
    }

    table {
        width: 100%
    }

    .mobile-list-details {
        width: 100%
    }

    .navbar nav img {
        width: 170px;
    }

    .navbar nav p {
        font-size: 14px;
    }

    .navbar nav {
        gap: 5px;
        padding: 10px;
    }

    .navbar-content {
        gap: 10px;
    }

    .login-text {
        font-size: 15px
    }
}